.symbolsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 25px 20px;
  background-color: #e2e2e2;
  border-radius: 5px;
}

@media (max-width: 1300px) {
  .symbolsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .symbolsGrid {
    grid-template-columns: 1fr;
  }
}
